* {
    box-sizing: border-box;
    outline: none;
}
body {
    background: #ccc;
    line-height: 0;
}
.container {
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;
}
.row {
    background: #eee;
}
.root {
    display: flex;
    border: 1px solid #ccc;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    background: #fff;
}
.row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}
.canvas {
    width: 500px;
    height: 450px;
    border-right: 1px solid #ccc;
    padding: 15px;
}
canvas {
    background: #fff;
    border: 1px solid #ccc;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 450px;
    padding: 10px 15px;
}
.flex-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}
.col input {
    width: 50%;
}
.active-element {
    width: 100%;
}

.button {
    height: 40px;
    padding: 0 15px;
    margin: 8px;
    border: 1px solid #333;
    font-family: "Times New Roman";
    font-size: 14px;
    font-weight: 600;
    color: #333;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.textField {
    margin: 8px;
    background: #fff;
    position: relative;
    width: 300px;
}
.input {
    position: absolute;
    border: 1px solid #ccc;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    color: #000;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    z-index: 2;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}
.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    color: #ccc;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    z-index: 1;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}
.input:focus,
.input:valid {
    padding-top: 14px;
    line-height: 26px;
}
.input:focus + .placeholder,
.input:valid + .placeholder {
    line-height: 12px;
    height: 12px;
    font-size: 10px;
    padding-top: 2px;
}

.right {
    margin-left: auto;
}

label {
    line-height: 30px;
    font-weight: 600;
}

select {
    width: 100%;
    text-transform: capitalize;
}
option {
    text-transform: capitalize;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider-text-value {
    float: right;
    line-height: 25px;
}

#prev {
    background: #80bfff;
}
#prev:hover,
#prev:active {
    background: #1ab2ff;
}
#next {
    background: #99ff66;
}
#next:hover,
#next:active {
    background: #66ff1a;
}
#clear {
    background: #ff8080;
}
#clear:hover,
#clear:active {
    background: #ff1a1a;
}
#line, #rect, #circle {
    background: #ffb380;
}
#line:hover, #rect:hover, #circle:hover,
#line:active, #rect:active, #circle:active {
    background: #ff751a;
}